<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">{{{__ "edit"}}} '{{eventGroupData.name}}'</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form id="editEventForm" action="/editeventgroup/{{eventGroupData.id}}/{{eventGroupData.editToken}}" method="post" enctype="multipart/form-data" autocomplete="off">
        <div class="form-group">
          <label for="eventGroupName" >{{{__ "name"}}}</label>
          <input type="text" class="form-control" id="eventGroupName" name="eventGroupName" placeholder="{{{__ "snappy"}}}" value="{{eventGroupData.name}}" data-validation="required length" data-validation-length="3-120">
        </div>
        <div class="form-group">
          <label for="eventGroupDescription" >{{{__ "description"}}}</label>
          <textarea class="form-control" id="eventGroupDescription" name="eventGroupDescription" data-validation="required">{{eventGroupData.description}}</textarea>
          <small class="form-text">{{{__ "mdsupportA"}}}</small>
        </div>
        <div class="form-group">
          <label for="eventGroupURL" >{{{__ "link"}}}</label>
          <input type="url" class="form-control" id="eventURL" name="eventGroupURL" value="{{eventGroupData.url}}" placeholder="{{{__ "moreinfo"}}}" data-validation="url" data-validation-optional="true">
        </div>
        <div class="form-group">
          <label for="hostName" >{{{__ "host"}}}</label>
          <input type="text" class="form-control" id="hostName" name="hostName" placeholder="{{{__ "isshowgroup"}}}" value="{{eventGroupData.hostName}}" data-validation="length" data-validation-length="3-120" data-validation-optional="true">
        </div>
        <div class="form-group">
          <label>{{{__ "coverimg"}}}</label>
          <div class="image-preview" id="eventGroupImagePreview">
            <label for="eventGroupImageUpload" id="eventGroupImageLabel">Choose file</label>
            <input type="file" name="eventGroupImageUpload" id="eventGroupImageUpload" />
          </div>
          <small class="form-text">{{{__ "recommendeddimensions"}}}</small>
        </div>
        <div class="form-group">
          <div class="card border-danger mb-3">
            <div class="card-header text-danger">{{{__ "delgroup"}}}</div>
            <div class="card-body text-danger">
              <button type="button" id="deleteEvent" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash"></i> {{{__ "delegroup"}}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{{__ "close"}}}</button>
        <button type="submit" class="btn btn-primary">{{{__ "save"}}}</button>
      </form>
      </div>
    </div>
  </div>
</div>
