<input type="hidden" name="magicLinkToken" value="{{magicLinkToken}}" x-ref="magicLinkToken">
<div class="form-group">
    <label for="eventGroupName">{{t "group.p.eventgroupname" }}</label>
    <input type="text" class="form-control" id="eventGroupName" name="eventGroupName" placeholder="{{t "snappy" }}" x-model="data.eventGroupName">
</div>
<div class="form-group">
    <label for="eventGroupDescription">{{t "group.p.eventgroupdescription" }}</label>
    <textarea class="form-control" id="eventGroupDescription" name="eventGroupDescription" x-model="data.eventGroupDescription">{{eventGroupData.description}}</textarea>
    <small class="form-text">{{{t "mdsupport" }}}</small>
</div>
<div class="form-group">
    <label for="eventGroupURL">{{t "group.p.eventgroupurl" }}</label>
    <input type="url" class="form-control" id="eventGroupURL" name="eventGroupURL" placeholder="https://example.com" x-model="data.eventGroupURL">
    <small class="form-text">{{t "group.p.eventgroupurldesc" }}</small>
</div>
<div class="form-group">
    <label for="hostName">{{t "group.p.hostname" }}</label>
    <input type="text" class="form-control" id="eventGroupHostName" name="hostName" placeholder="{{t "group.p.isshowgroup" }}"  x-model="data.hostName">
</div>
<div class="form-group">
    <label for="creatorEmail">{{t "group.p.creatoremail" }}</label>
    <div class="form-group">
        <input type="email" class="form-control" id="eventGroupCreatorEmail" name="creatorEmail" placeholder="{{t "wontshow" }}" x-model.fill="data.creatorEmail" {{#if creatorEmail}}value="{{creatorEmail}}" readonly{{/if}}>
        <small class="form-text">{{t "creatoremaildesc" }}</small>
    </div>
</div>
<div class="form-group">
    <label>{{t "coverimg" }}</label>
    <div class="image-preview" id="group-image-preview">
        <label for="eventGroupImageUpload" id="group-image-label">{{t "choosefile" }}</label>
        <input type="file" name="imageUpload" id="group-image-upload" accept="image/jpeg,image/gif,image/png" x-ref="eventGroupImageUpload"/>
    </div>
    <small class="form-text">{{t "recommendeddimensions" }}</small>
</div>
{{#if showPublicEventList}}
  <div class="form-group">
    <label>{{{t "group.options" }}}</label>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="publicGroupCheckbox" name="publicCheckbox" x-model="data.publicCheckbox">
      <label class="form-check-label" for="publicGroupCheckbox">
        {{t "group.p.publicgroup" }}
      </label>
    </div>
  </div>
{{/if}}
<div class="form-group">
  <div class="col-12">
    <div
      class="alert alert-danger"
      role="alert"
      x-show="errors.length > 0"
    >
      <p><i class="fas fa-exclamation-triangle"></i> {{t "fixerrors" }}</p>
      <ul>
        <template x-for="error in errors">
          <li x-html="error.message"></li>
        </template>
      </ul>
    </div>
  </div>
</div>
