<h4 class="mb-2">{{t newevent.importevent }}</h4>
<p>
  {{t "newevent.p.importdesc" }}
</p>

<img class="img-thumbnail mb-3 d-block mx-auto" src="/images/facebook-export.png" alt="Image showing the location of the export option on Facebook" />

<form id="icsImportForm" enctype="multipart/form-data" x-data="importEventForm()" @submit.prevent="submitForm">
  <input type="hidden" name="magicLinkToken" value="{{magicLinkToken}}" x-ref="magicLinkToken">
  <div class="form-group">
    <div class="custom-file" id="icsImportContainer">
    <input required name="icsImportControl" type="file" class="custom-file-input" id="icsImportControl" aria-describedby="fileHelp" accept="text/calendar" x-ref="icsImportControl"/>
    <label name="icsImportLabel" class="custom-file-label" id="icsImportLabel" for="icsImportControl">
       <i class="far fa-file-alt"></i> {{t "selectfile" }}
    </label>
  </div>
  </div>
  <div class="form-group">
    <label for="creatorEmail" class="form-label">{{t "youremail" }}</label>
    <div class="form-group">
      <input type="email" class="form-control" id="importCreatorEmail" name="creatorEmail" placeholder="{{t "wontshow" }}" x-model.fill="data.creatorEmail" {{#if creatorEmail}}value="{{creatorEmail}}" readonly{{/if}}>
    <small class="form-text">{{t "creatoremaildesc" }}</small>
    </div>
  </div>
  <div class="form-group">
    <div class="col-12">
      <div
        class="alert alert-danger"
        role="alert"
        x-show="errors.length > 0"
      >
        <p><i class="fas fa-exclamation-triangle"></i> Please fix these errors:</p>
        <ul>
          <template x-for="error in errors">
            <li x-html="error.message"></li>
          </template>
        </ul>
      </div>
    </div>
  </div>
  <button
    type="submit"
    class="d-block mx-auto button button--primary w-50"
    x-bind:disabled="submitting"
    x-bind:class="submitting ? 'button--loading' : ''"
    x-text="submitting ? '{{t "newevent.p.importing" }}' : '{{t "newevent.p.import" }}'"
  ></button>
</form>
