<h4 class="mb-2">{{{__ "createEvent"}}}</h4>
<form id="newEventForm" action="/newevent" method="post" enctype="multipart/form-data">
   <input type="text" hidden class="form-control" id="eventType" name="eventType" value="{{eventType}}">
  <div class="form-group row">
    <label for="eventName" class="col-sm-2 col-form-label">{{{__ "eventName"}}}</label>
    <div class="form-group col-sm-10">
      <input type="text" class="form-control" id="eventName" name="eventName" placeholder="{{{__ "snappy"}}}" value="{{data.eventName}}" data-validation="required length" data-validation-length="3-120">
    </div>
  </div>
  <div class="form-group row">
    <label for="eventLocation" class="col-sm-2 col-form-label">{{{__ "location"}}}</label>
    <div class="form-group col-sm-10">
      <input type="text" class="form-control" id="eventLocation" name="eventLocation" placeholder="{{{__ "specific"}}}" value="{{data.eventLocation}}" data-validation="required length"  data-validation-length="3-120">
    </div>
  </div>
  <div class="form-group row">
    <label for="eventStart" class="col-sm-2 col-form-label">{{{__ "starts"}}}</label>
    <div class="form-group col-sm-10">
      <input readonly type="text" class="form-control" id="eventStart" name="eventStart" placeholder="{{{__ "click"}}}" value="{{data.eventStart}}" data-validation="required">
    </div>
  </div>
  <div class="form-group row">
    <label for="eventEnd" class="col-sm-2 col-form-label">{{{__ "ends"}}}</label>
    <div class="form-group col-sm-10">
      <input readonly type="text" class="form-control" id="eventEnd" name="eventEnd"  placeholder="{{{__ "click"}}}" value="{{data.eventEnd}}" data-validation="required">
    </div>
  </div>
  <div class="form-group row">
    <label for="timezone" class="col-sm-2 col-form-label">{{{__ "timezone"}}}</label>
    <div class="form-group col-sm-10">
      <select class="select2" id="timezone" name="timezone"></select>
    </div>
  </div>
  <div class="form-group row">
    <label for="eventDescription" class="col-sm-2 col-form-label">{{{__ "description"}}}</label>
    <div class="form-group col-sm-10">
      <textarea class="form-control expand" id="eventDescription" name="eventDescription" data-validation="required" placeholder="{{{__ "editLater"}}}"></textarea>
      <small class="form-text">{{{__ "markdownSupported"}}}</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="eventURL" class="col-sm-2 col-form-label">Link</label>
    <div class="form-group col-sm-10">
      <input type="url" class="form-control" id="eventURL" name="eventURL" placeholder="{{{__ "linkDesc"}}}" data-validation="url" data-validation-optional="true">
    </div>
  </div>
  <div class="form-group row">
    <label for="eventImage" class="col-sm-2 col-form-label">{{{__ coverimg}}}</label>
    <div class="form-group col-sm-10">
      <div class="image-preview" id="eventImagePreview">
        <label for="image-upload" id="eventImageLabel">{{{__ "chooseFile"}}}</label>
        <input type="file" name="imageUpload" id="eventImageUpload" accept="image/jpeg,image/gif,image/png" />
      </div>
      <small class="form-text">{{{__ "recommendedDimensions"}}}</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="hostName" class="col-sm-2 col-form-label">{{{__ "hostName"}}}</label>
    <div class="form-group col-sm-10">
      <input type="text" class="form-control" id="hostName" name="hostName" placeholder="{{{__ "willBeShownEvent"}}}" data-validation="length" data-validation-length="2-60" data-validation-optional="true">
    </div>
  </div>
  <div class="form-group row">
    <label for="creatorEmail" class="col-sm-2 col-form-label">{{{__ "yourEmail"}}}</label>
    <div class="form-group col-sm-10">
      <input type="email" class="form-control" id="creatorEmail" name="creatorEmail" placeholder="{{{__ "optional"}}}" data-validation="email" data-validation-optional="true">
      <small class="form-text">{{{__ "emailDesc"}}}</small>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">{{{__ "options"}}}</div>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="eventGroupCheckbox" name="eventGroupCheckbox">
        <label class="form-check-label" for="eventGroupCheckbox">
          {{{__ "partOfEventGroup"}}}
        </label>
      </div>
      <div class="card text-white bg-secondary my-2" id="eventGroupData">
        <div class="card-header">
          <strong>{{{__ "linkToEventGroup"}}}</strong>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label for="eventGroupID" class="col-sm-2 col-form-label">{{{__ "eventGroupId"}}}</label>
            <div class="form-group col-sm-10">
              <input type="text" class="form-control" id="eventGroupID" name="eventGroupID" placeholder="" data-validation-optional="true">
              <small class="form-text">{{{__ "shortStringDesc"}}}</small>
            </div>
          </div>
          <div class="form-group row">
            <label for="eventGroupEditToken" class="col-sm-2 col-form-label">{{{__ "groupSecretCode"}}}</label>
            <div class="form-group col-sm-10">
              <input type="text" class="form-control" id="eventGroupEditToken" name="eventGroupEditToken" placeholder="" data-validation-optional="true">
              <small class="form-text">{{{__ "longStringDesc"}}}</small>
            </div>
          </div>
        </div>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="interactionCheckbox" name="interactionCheckbox">
        <label class="form-check-label" for="interactionCheckbox">
          {{{__ "usersCanComment"}}}
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="joinCheckbox" name="joinCheckbox">
        <label class="form-check-label" for="joinCheckbox">
          {{{__ "usersCanAttend"}}}
        </label>
      </div>
      <div class="form-check" id="maxAttendeesCheckboxContainer">
        <input class="form-check-input" type="checkbox" id="maxAttendeesCheckbox" name="maxAttendeesCheckbox">
        <label class="form-check-label" for="maxAttendeesCheckbox">
          {{{__ "setAttendeeLimit"}}}
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row" id="maxAttendeesContainer">
    <label for="maxAttendees" class="col-sm-2 col-form-label">{{{__ "attendeeLimit"}}}</label>
    <div class="form-group col-sm-10">
      <input type="number" class="form-control" id="maxAttendees" name="maxAttendees" placeholder="{{{__ "enterNumber"}}}" data-validation="number" data-validation-optional="true">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12 pt-3 pb-3 text-center">
      <button type="submit" class="btn btn-primary w-50">{{{__ "create"}}}</button>
    </div>
  </div>
</form>

<script type="text/javascript" src="/js/generate-timezones.js"></script>

<script>
  $(document).ready(function() {
    $.uploadPreview({
      input_field: "#eventImageUpload",
      preview_box: "#eventImagePreview",
      label_field: "#eventImageLabel",
      label_default: "{{{__ "chooseFile"}}}",
      label_selected: "{{{__ "changeFile"}}}",
      no_label: false
    });
    autosize($('textarea'));
    $("#maxAttendeesCheckbox").on("click", function() {
      if ($(this).is(':checked')) {
        $("#maxAttendeesContainer").slideDown('fast').css("display","flex");
        $("#maxAttendees").attr("data-validation-optional","false");
      }
      else {
        $("#maxAttendeesContainer").slideUp('fast');
        $("#maxAttendees").attr("data-validation-optional","true").val("").removeClass('is-valid is-invalid');
      }
    });
    $("#joinCheckbox").on("click", function() {
      if ($(this).is(':checked')) {
        $("#maxAttendeesCheckboxContainer").slideDown('fast').css("display","flex");
      }
      else {
        $("#maxAttendeesCheckboxContainer").slideUp('fast');
        $("#maxAttendeesCheckbox").prop("checked",false);
        $("#maxAttendeesContainer").slideUp('fast');
        $("#maxAttendees").attr("data-validation-optional","true").val("").removeClass('is-valid is-invalid');
      }
    });
    $("#eventGroupCheckbox").on("click", function() {
      if ($(this).is(':checked')) {
        $("#eventGroupData").slideDown('fast');
        $("#eventGroupID").removeAttr("data-validation-optional").attr("data-validation","required");
        $("#eventGroupEditToken").removeAttr("data-validation-optional").attr("data-validation","required");
      }
      else {
        $("#eventGroupData").slideUp('fast');
        $("#eventGroupID").removeAttr("data-validation").attr("data-validation-optional","true").val("");
        $("#eventGroupEditToken").removeAttr("data-validation").attr("data-validation-optional","true").val("");
      }
    });
  });
</script>
