<h4 class="mb-2">{{{__ "groupcreate"}}}</h4>
<p>{{{__ "groupdesc"}}}</p>
<p>{{{__ "groupattention"}}}</p>
<form id="newEventForm" action="/neweventgroup" method="post" enctype="multipart/form-data">
  <div class="form-group row">
    <label for="eventGroupName" class="col-sm-2 col-form-label">{{{__ "groupname"}}}</label>
    <div class="form-group col-sm-10">
      <input type="text" class="form-control" id="eventGroupName" name="eventGroupName" placeholder="{{{__ "snappy"}}}" value="{{data.eventName}}" data-validation="required length" data-validation-length="3-120">
    </div>
  </div>
  <div class="form-group row">
    <label for="eventGroupDescription" class="col-sm-2 col-form-label">{{{__ "description"}}}</label>
    <div class="form-group col-sm-10">
      <textarea class="form-control expand" id="eventGroupDescription" name="eventGroupDescription" data-validation="required" placeholder="{{{__ "editlater"}}}"></textarea>
      <small class="form-text">{{{__ "mdsupportA"}}}</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="eventGroupURL" class="col-sm-2 col-form-label">{{{__ "link"}}}</label>
    <div class="form-group col-sm-10">
      <input type="url" class="form-control" id="eventGroupURL" name="eventGroupURL" placeholder="{{{__ "moreinfo"}}}" data-validation="url" data-validation-optional="true">
    </div>
  </div>
  <div class="form-group row">
    <label for="eventGroupImage" class="col-sm-2 col-form-label">{{{__ "coverimg"}}}</label>
    <div class="form-group col-sm-10">
      <div class="image-preview" id="eventGroupImagePreview">
        <label for="image-upload" id="eventGroupImageLabel">{{{__ "choosefile"}}}</label>
        <input type="file" name="imageUpload" id="eventGroupImageUpload" />
      </div>
      <small class="form-text">{{{__ "recommendeddimensions"}}}</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="hostName" class="col-sm-2 col-form-label">{{{__ "host"}}}</label>
    <div class="form-group col-sm-10">
      <input type="text" class="form-control" id="hostName" name="hostName" placeholder="{{{__ "isshowgroup"}}}" data-validation="length" data-validation-length="2-60" data-validation-optional="true">
    </div>
  </div>
  <div class="form-group row">
    <label for="creatorEmail" class="col-sm-2 col-form-label">{{{__ "youremail"}}}</label>
    <div class="form-group col-sm-10">
      <input type="email" class="form-control" id="creatorEmail" name="creatorEmail" placeholder="{{{__ "notspamA"}}}" data-validation="email" data-validation-optional="true">
      <small class="form-text">{{{__ "emaildescA"}}}</small>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12 pt-3 pb-3 text-center">
      <button type="submit" class="btn btn-primary w-50">{{{__ create}}}</button>
    </div>
  </div>
</form>

<script>
  $(document).ready(function() {
    $.uploadPreview({
      input_field: "#eventGroupImageUpload",
      preview_box: "#eventGroupImagePreview",
      label_field: "#eventGroupImageLabel",
      label_default: "{{{__ "choosefile"}}}",
      label_selected: "{{{__ "changefile"}}}",
      no_label: false
    });
    autosize($('textarea'));
  });
</script>
