{{#if eventGroupHasCoverImage}}
  <div id="eventImageContainer" style="background-image: url(/events/{{eventGroupData.image}});"></div>
{{else}}
  <div id="genericEventImageContainer" style="background-image: url(/images/seigaiha.png);"></div>
{{/if}}
<div class="row">
  <div class="col-lg">
    <h3 id="eventName" data-event-id="{{eventGroupData.id}}">{{eventGroupData.name}}</h3>
  </div>
  <div class="col-lg-2 ml-2 edit-buttons">
    {{#if editingEnabled}}
      <button type="button" id="editEvent" class="btn btn-success text-nowrap" data-event-id="{{eventGroupData.id}}" data-toggle="modal" data-target="#editModal"><i class="fas fa-edit"></i> {{{__ "editgroup"}}}</button>
    {{else}}
      <button type="button" id="editEvent" class="btn btn-success text-nowrap" data-event-id="{{eventGroupData.id}}" data-toggle="modal" data-target="#editTokenModal"><i class="fas fa-edit"></i> {{{__ "editgroup"}}}</button>
    {{/if}}
  </div>
</div>
{{#if firstLoad}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{{__ "groupwelcome"}}}
</div>
{{/if}}
<div class="container my-4 pr-0">
  <div class="row">
    <div class="col-lg-9 card p-0">
      <div class="card">
        <div class="card-body">
          <ul class="fa-ul eventInformation">
            {{#if eventGroupHasHost}}
              <li>
                <span class="fa-li">
                  <i class="fas fa-fw fa-user-circle"></i>
                </span>
                <span class="text-muted">{{{__ "hostedby"}}}
              </li>
            {{/if}}
            {{#if eventGroupData.url}}
              <li>
                <span class="fa-li">
                  <i class="fas fa-link"></i>
                </span>
                <a href="{{eventGroupData.url}}">
                  {{eventGroupData.url}}
                </a>
              </li>
            {{/if}}
            <li>
              <span class="fa-li">
                <i class="fas fa-share-square"></i>
              </span>
              <a href="https://{{domain}}/group/{{eventGroupData.id}}">https://{{domain}}/group/{{eventGroupData.id}}</a>
              <button type="button" id="copyEventLink" class="eventInformationAction btn btn-outline-secondary btn-sm" data-clipboard-text="https://{{domain}}/group/{{eventGroupData.id}}">
                <i class="fas fa-copy"></i> {{{__ "copy"}}}
              </button>
            </li>
            <li>
              <span class="fa-li">
                <i class="fas fa-rss"></i>
              </span>
              <a
                href="https://{{domain}}/group/{{eventGroupData.id}}/feed.ics">https://{{domain}}/group/{{eventGroupData.id}}/feed.ics</a>&nbsp;
              <button type="button" id="copyFeedLink"
                class="eventInformationAction btn btn-outline-secondary btn-sm"
                data-clipboard-text="https://{{domain}}/group/{{eventGroupData.id}}/feed.ics">
                <i class="fas fa-copy"></i> {{{__ "copy"}}}
              </button>
              <p class="text-muted small">{{{__ "urlpaste"}}}</p>
            </li>
          </ul>
        </div>
      </div> <!-- /card -->
    </div>
    <div class="col-lg-3" id="eventActions">
      <aside class="btn-group-vertical d-flex" role="group" aria-label="Event actions">
        <button type="button" class="btn btn-outline-secondary btn-sm"
          data-event-id="{{eventGroupData.id}}" data-toggle="modal"
          data-target="#subscribeModal">
          <i class="fas fa-envelope"></i> {{{__ "subscribe"}}}
        </button>
        <button type="button" id="exportICS" class="btn btn-outline-secondary
          btn-sm" data-event-id="{{eventGroupData.id}}">
          <i class="fas fa-download"></i> {{{__ "ICSexport"}}}
        </button>
      </aside>
    </div>
  </div>
</div>

{{#if editingEnabled}}
  <div class="alert alert-success">
    <p>{{{__ "groupaddevent"}}}</p>
    <div class="table-responsive">
      <table style="width:100%">
        <tr style="border-bottom:1px solid rgba(0,0,0,0.2)">
          <td><strong>{{{__ "eventgroupid"}}}</strong></td>
          <td><span class="code">{{eventGroupData.id}}</span></td>
        </tr>
        <tr>
          <td><strong>{{{__ "eventgroupeditpwd"}}}</strong></td>
          <td><span class="code">{{eventGroupData.editToken}}</span></td>
        </tr>
      </table>
    </div>
    
  </div>
{{/if}}

<div class="card mb-4" id="eventDescription">
    <h5 class="card-header">{{{__ "about"}}}</h5>  
  <div class="card-body">
    {{{parsedDescription}}}
  </div>
</div>
<div class="card mt-4 mb-4" id="upcomingEvents">
  <h5 class="card-header">{{{__ "eventupcome"}}}</h5>
  <div class="list-group list-group-flush">
  {{#if upcomingEventsExist}}
    {{#each events}}
      {{#unless this.eventHasConcluded}}
        <a href="/{{this.id}}" class="list-group-item list-group-item-action" target="_blank">
          <i class="fas fa-fw fa-calendar-day"></i>
          <strong>{{this.name}}</strong>
          <span class="ml-2 text-muted">{{this.displayDate}}</span>
        </a>
      {{/unless}}
    {{/each}}
  {{else}}
      <div class="list-group-item">{{{__ "noevents"}}}</div>
  {{/if}}
  </div>
</div>

{{#if editingEnabled}}
{{> editeventgroupmodal }}

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">{{{__ "del"}}} '{{eventGroupData.name}}'</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="deleteEventGroupForm" action="/deleteeventgroup/{{eventGroupData.id}}/{{eventGroupData.editToken}}" method="post">
      <div class="modal-body">
        <p>{{{__ "groupdelconfirm"}}}</p>
        <p>{{{__ "groupdeldesc"}}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{{__ "close"}}}</button>
        <button type="submit" class="btn btn-danger">{{{__ "groupdel"}}}</button>
      </div>
      </form>
    </div>
  </div>
</div>

{{/if}}

<div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog"
  aria-labelledby="subscribeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="subscribeModalLabel">{{{__ "groupsub"}}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="subscribeForm" action="/subscribe/{{eventGroupData.id}}" method="post">
      <div class="modal-body">
        <div class="form-group">
          <p class="form-text small">{{{__ "receivegroup"}}}</p>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="emailAddress"
          name="emailAddress" placeholder="email@example.com" data-validation="required">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{{__ "close"}}}</button>
        <button type="submit" class="btn btn-success">{{{__ "sub"}}}</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="editTokenModal" tabindex="-1" role="dialog" aria-labelledby="editTokenModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editTokenModalLabel">{{{__ "editpwd"}}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="verifyTokenForm" action="/verifytoken/group/{{eventGroupData.id}}" method="post">
      <div class="modal-body">
        <div class="form-group">
          <p class="form-text small">{{{__ "editpwddesc"}}}</p>
          <div class="form-group">
            <input type="text" class="form-control" id="editToken" name="editToken" placeholder="{{{__"right"}}}" data-validation="required">
          </div>
          <div class="form-group">
              <div class="alert alert-danger" style="display:none;"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{{__ "close"}}}</button>
        <button type="submit" class="btn btn-primary">{{{__ "editgroup"}}}</button>
      </div>
      </form>
    </div>
  </div>
</div>


<script>
  $.validate({
    lang: 'en',
    errorElementClass: "is-invalid",
    errorMessageClass: "text-danger",
    successElementClass: "is-valid"
  });

  $(document).ready(function() {
    // Save the editing token from the URL, if it is valid
    const eventID = $('#eventName').attr('data-event-id');
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('e')) {
      $.ajax({
        type: "POST",
        url: `/verifytoken/group/${eventID}`,
        data: { editToken: urlParams.get('e') },
        success: function(response, status, xhr) {
          if (xhr.status === 200) {
            addStoredToken(eventID, urlParams.get('e'));
          }
        },
        error: function(response, status, xhr) {
          // The editing token is wrong - remove it
          removeStoredToken(eventID);
          window.location = window.location.pathname;
        }
      });
    } else if (getStoredToken(eventID)) {
      const editToken = getStoredToken(eventID);
      $.ajax({
        type: "POST",
        url: `/verifytoken/group/${eventID}`,
        data: { editToken },
        success: function(response, status, xhr) {
          if (xhr.status === 200) {
            window.location.search = `?e=${editToken}`;
          }
        },
        error: function(response, status, xhr) {
          // The editing token is wrong - remove it
          removeStoredToken(eventID);
        }
      });
    }

    if (urlParams.has('show_edit')) {
      $('#editModal').modal('show');
    }

    $.uploadPreview({
      input_field: "#eventGroupImageUpload",
      preview_box: "#eventGroupImagePreview",
      label_field: "#eventGroupImageLabel",
      label_default: "{{{__ "choosefile"}}}",
      label_selected: "{{{__ "changefile"}}}",
      no_label: false
    });
    $("#eventGroupImagePreview").css("background-image", "url('/events/{{eventGroupData.image}}')");
    $("#eventGroupImagePreview").css("background-size", "cover");
    $("#eventGroupImagePreview").css("background-position", "center center");
    new ClipboardJS('#copyEventLink');
    new ClipboardJS('#copyFeedLink');
    autosize($('textarea'));
    $("#exportICS").click(function(){
      let eventGroupID = $(this).attr('data-event-id');
      $.get('/exportgroup/' + eventGroupID, function(response) {
        downloadFile(response, eventGroupID + '.ics');
      })
    })
    $("#copyEventLink").click(function(){
      $(this).html('<i class="fas fa-copy"></i> {{{__ "copied"}}}');
      setTimeout(function(){ $("#copyEventLink").html('<i class="fas fa-copy"></i> {{{__ "copy"}}}');}, 5000);
    });
    $("#copyFeedLink").click(function(){
      $(this).html('<i class="fas fa-copy"></i> {{{__ "copied"}}}');
      setTimeout(function(){ $("#copyFeedLink").html('<i class="fas fa-copy"></i> {{{__ "copy"}}}');}, 5000);
    });

      $('#verifyTokenForm').on('submit', function(e) {
        e.preventDefault();
        let form = $(this);
        $.ajax({
            type: "POST",
            url: form.attr('action'),
            data: form.serialize(),
            success: function(response, status, xhr) {
                if (xhr.status === 200) {
                    // Save the token to localStorage for later
                    addStoredToken($('#eventName').attr('data-event-id'), new FormData(form[0]).get('editToken'));
                    window.location.search = `?e=${new FormData(form[0]).get('editToken')}&show_edit=true`;
                }
            },
            error: function(response, status, xhr) {
               form.find('.alert').text('{{{__ "incorrectpwd"}}}').show();
            }
        });
      });

    $('#deleteEvent').on('click', function() {
        $('#editModal').modal('hide');
    })

    // From https://davidwalsh.name/javascript-download
    function downloadFile(data, fileName, type="text/plain") {
      // Create an invisible A element
      const a = document.createElement("a");
      a.style.display = "none";
      document.body.appendChild(a);

      // Set the HREF to a Blob representation of the data to be downloaded
      a.href = window.URL.createObjectURL(
        new Blob([data], { type })
      );

      // Use download attribute to set set desired file name
      a.setAttribute("download", fileName);

      // Trigger the download by simulating click
      a.click();

      // Cleanup
      window.URL.revokeObjectURL(a.href);
      document.body.removeChild(a);
    }

  });
</script>
