{{#if eventHasCoverImage}}
  <div id="eventImageContainer" style="background-image: url(/events/{{eventData.image}});"></div>
{{else}}
  <div id="genericEventImageContainer" style="background-image: url(/images/seigaiha.png);"></div>
{{/if}}
<div class="h-event">
<div class="row">
  <div class="col-lg">
      <h3 class="p-name" id="eventName" data-event-id="{{eventData.id}}">{{eventData.name}}</h3>
  </div>
  <div class="col-lg-3 ml-2 edit-buttons">
    {{#if editingEnabled}}
      <button type="button" id="editEvent" class="btn btn-success" {{#if eventHasConcluded}}disabled{{/if}} data-event-id="{{eventData.id}}" data-toggle="modal" data-target="#editModal"><i class="fas fa-edit"></i> Edit event</button>
    {{else}}
      <button type="button" id="editEvent" class="btn btn-success" {{#if eventHasConcluded}}disabled{{/if}} data-event-id="{{eventData.id}}" data-toggle="modal" data-target="#editTokenModal"><i class="fas fa-edit"></i> Edit event</button>
    {{/if}}
  </div>
</div>
<div class="container my-4 pr-0">
  <div class="row">
    <div class="col-lg-9 card p-0">
      <div class="card-body">
        <ul class="fa-ul eventInformation">
          <li>
            <span class="fa-li">
              <i class="fas fa-map-marker-alt"></i>
            </span>
            <span class="p-location">{{eventData.location}}</span>
          </li>
          <li>
            <span class="fa-li">
              <i class="fas fa-fw fa-calendar-day"></i>
            </span>
            <span class="dt-duration">{{{displayDate}}}</span>
            <time class="dt-start" datetime="{{eventStartISO}}"></time>
            <time class="dt-end" datetime="{{eventEndISO}}"></time>
            <br>
            <span class="text-muted">
              {{#if eventHasBegun}}{{#unless eventHasConcluded}}Started {{else}}Ended {{/unless}}{{/if}}{{fromNow}}
            </span>
          </li>
          {{#if eventHasHost}}
            <li id="hosted-by">
              <span class="fa-li">
                <i class="fas fa-fw fa-user-circle"></i>
              </span>
              <span class="text-muted">Hosted by</span> {{eventData.hostName}}
            </li>
          {{/if}}
          {{#if eventData.eventGroup}}
            <li id="event-group">
              <span class="fa-li">
                <i class="fas fa-fw fa-calendar-alt"></i>
              </span>
              <span class="text-muted">Part of</span> <a href="/group/{{eventData.eventGroup.id}}">{{eventData.eventGroup.name}}</a>
            </li>
          {{/if}}
          {{#if eventData.url}}
            <li>
              <span class="fa-li">
                <i class="fas fa-fw fa-link"></i>
              </span>
              <a href="{{eventData.url}}">
                {{eventData.url}}
              </a>
            </li>
          {{/if}}
          <li>
            <span class="fa-li">
              <i class="fas fa-fw fa-share-square"></i>
            </span>
            <a class="u-url" href="https://{{domain}}/{{eventData.id}}">https://{{domain}}/{{eventData.id}}</a>
            <button type="button" id="copyEventLink" class="eventInformationAction btn btn-outline-secondary btn-sm" data-clipboard-text="https://{{domain}}/{{eventData.id}}">
              <i class="fas fa-copy"></i> Copy
            </button>
          </li>
          {{#if isFederated}}
          <li>
            <span class="fa-li">
              <i class="fas fa-fw fa-share-square"></i>
            </span>
            @{{eventData.id}}@{{domain}}
            <button type="button" id="copyAPLink" class="eventInformationAction btn btn-outline-secondary btn-sm" data-clipboard-text="@{{eventData.id}}@{{domain}}">
              <i class="fas fa-copy"></i> Copy
            </button>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
    <div class="col-lg-3" id="eventActions">
      <aside class="btn-group-vertical d-flex" role="group" aria-label="Event actions">
        <a href="http://www.google.com/calendar/event?action=TEMPLATE&dates={{parsedStart}}%2F{{parsedEnd}}&text={{escapedName}}&location={{parsedLocation}}&ctz={{timezone}}" class="btn btn-outline-secondary btn-sm">
          <i class="far fa-calendar-plus"></i> Add to Google Calendar
        </a>
        <button type="button" id="exportICS" class="btn btn-outline-secondary btn-sm" data-event-id="{{eventData.id}}">
          <i class="fas fa-download"></i> Export as ICS
        </button>
        <a target="_blank" href="http://maps.google.com/?q={{parsedLocation}}" class="btn btn-outline-secondary btn-sm">
          <i class="fas fa-map-marked"></i> Show on Google Maps
        </a>
        <a target="_blank" href="https://www.openstreetmap.org/search?query={{parsedLocation}}" class="btn btn-outline-secondary btn-sm">
          <i class="fas fa-map-marked"></i> Show on OpenStreetMap
        </a>
      </aside>
    </div>
  </div>
</div>

{{#if eventHasConcluded}}
<div class="alert alert-warning mb-4" role="alert">
  This event has concluded. It can no longer be edited, and will be automatically deleted <span class="daysToDeletion"></span>.
</div>
{{/if}}
{{#if firstLoad}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p>Welcome to your event!</p>
  <p>Your secret editing password for this event is: <strong id="eventEditToken">{{eventData.editToken}}</strong>. It's been saved in your browser storage, and if you supplied your email, it's also been sent to you. If you didn't supply your email, you <strong>must save it somewhere safe</strong>, because it won't be shown again!</p>
  <p>To share your event, use the link you can see just above this message - that way your attendees won't be able to edit or delete your event!</p>
</div>
{{/if}}
<div class="card mb-4" id="eventDescription">
  <h5 class="card-header">About</h5>
  <div class="card-body p-summary">
    {{{parsedDescription}}}
  </div>
</div>

{{#if eventData.usersCanAttend}}
<div class="card mb-4" id="eventAttendees">
  <h5 class="card-header">Attendees {{#if eventAttendees}}({{numberOfAttendees}}){{/if}}
    <div class="btn-group" role="group" aria-label="Attendance controls">
      {{#unless noMoreSpots}}
        <button type="button" id="attendEvent" class="btn btn-success" data-event-id="{{eventData.id}}"><i class="fas fa-user-plus"></i> Add me</button>
      {{/unless}}
      <button type="button" id="unattendEvent" class="btn btn-secondary" data-toggle="modal" data-target="#unattendModal"><i class="fas fa-user-times"></i> Remove me</button>
    </div>
  </h5>
  <div class="card-body">
    {{#if eventData.maxAttendees}}
      {{#if noMoreSpots}}
        <div class="alert alert-warning text-center" id="attendees-alert">This event is at capacity.</div>
      {{else}}
        <div class="alert alert-warning text-center" id="attendees-alert">{{spotsRemaining}} {{plural spotsRemaining "spot(s)"}} remaining - add yourself now!</div>
      {{/if}}
    {{/if}}
    {{#if eventAttendees}}
      <ul class="attendeesList">
        {{#each eventAttendees}}
          <li{{#if ../editingEnabled}} data-attendee-name="{{this.name}}" data-attendee-id="{{this._id}}"{{/if}}><span class="attendee-name">{{this.name}}</span>{{#if ../editingEnabled}} <a href="#" class="remove-attendee" data-toggle="modal" data-target="#removeAttendeeModal" title="Remove user from event"><i class="fas fa-user-times"></i></a>{{/if}}</li>
        {{/each}}
      </ul>
    {{else}}
      <p class="text-center text-muted mb-0">No attendees yet!</p>
    {{/if}}
  </div>
</div>

<div class="modal fade" id="attendModal" tabindex="-1" role="dialog" aria-labelledby="attendModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="attendModalLabel">Add yourself to '{{eventData.name}}'</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="attendEventForm" action="/attendevent/{{eventData.id}}" method="post">
    <div class="modal-body">
      <div class="form-group">
        <label for="attendeeName">Your name</label>
        <div class="form-group">
          <input type="text" class="form-control" id="attendeeName" name="attendeeName" placeholder="Or an alias, perhaps..." data-validation="required length" data-validation-length="1-30">
        </div>
      </div>
      <div class="form-group">
        <label for="attendeeName">How many people in your party?</label>
        <div class="form-group">
          <input type="number" class="form-control" id="attendeeNumber" name="attendeeNumber" value="1" data-validation="required number" >
        </div>
      </div>
      <div class="form-group">
        <label for="attendeeEmail">Your email (optional)</label>
        <p class="form-text small">If you provide your email, you will receive updates to the event.</p>
        <div class="form-group">
          <input type="email" class="form-control" id="attendeeEmail" name="attendeeEmail" placeholder="We won't spam you <3" data-validation="email" data-validation-optional="true">
        </div>
      </div>
      <div class="form-group">
        <label for="removalPassword">Deletion password</label>
        <p class="form-text small">You will need this password if you want to remove yourself from the list of event attendees. If you provided your email, you'll receive it by email. Otherwise, write it down now because it will <strong>not be shown again</strong>.</p>
        <input type="text" class="form-control" readonly id="removalPassword"
        name="removalPassword">
      </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add myself</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="unattendModal" tabindex="-1" role="dialog" aria-labelledby="unattendModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="unattendModalLabel">Remove yourself from '{{eventData.name}}'</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="unattendEventForm" action="/unattendevent/{{eventData.id}}" method="post">
      <div class="modal-body">
        <div class="form-group">
          <label for="removalPassword" class="form-label">Your deletion password</label>
          <p class="form-text small">Lost your password? Get in touch with the event organiser.</p>
          <input type="text" class="form-control" id="removalPassword"
          name="removalPassword">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Remove myself</button>
      </div>
      </form>
    </div>
  </div>
</div>
</div>
  {{#if editingEnabled}}
  <div class="modal fade" id="removeAttendeeModal" tabindex="-1" role="dialog" aria-labelledby="removeAttendeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="removeAttendeeModalLabel">Remove attendee from '{{eventData.name}}'</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <form id="removeAttendeeForm" action="/removeattendee/{{eventData.id}}/" method="post">
      <div class="modal-body">
        <p>Are you sure you want to remove this attendee from the event? This action cannot be undone.</p>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Remove attendee</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  {{/if}}
{{/if}}


{{#if eventData.usersCanComment}}
<div class="card mb-4" id="eventComments">
  <h5 class="card-header">Discussion</h5>
  <div class="card-body">
    <form id="commentForm" action="/post/comment/{{eventData.id}}/" method="post">
      <label for="commentAuthor">Name</label>
      <div class="form-group">
        <input type="text" class="form-control" id="commentAuthor" name="commentAuthor" placeholder="Your name" data-validation="required length" data-validation-length="1-60">
      </div>
      <label for="commentContent">Comment</label>
      <div class="form-group">
        <div class="input-group">
          <textarea class="form-control" id="commentContent" name="commentContent" style="resize: none;" placeholder="What would you like to say?" data-validation="required length" data-validation-length="1-280"></textarea>
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary btn-block h-100" id="postComment">Send <i class="fas fa-chevron-right"></i></button>
          </div>
        </div>
      </div>
    </form>
    {{#if eventData.comments}}
      <hr style="border-style:dashed;">
      <div class="container commentsList">
      {{#each eventData.comments}}
        <div class="comment">
          <div class="row commentContainer">
            <div class="col-lg commentText">
              {{#if this.actorId}}
                <p class="mb-0"><a href="{{this.actorId}}"><strong>{{this.author}}</strong></a> <a href="{{this.activityId}}"><small class="commentTimestamp text-muted">{{this.timestamp}}</small></a></p>
              {{else}}
                <p class="mb-0"><strong>{{this.author}}</strong> <small class="commentTimestamp text-muted">{{this.timestamp}}</small></p>
              {{/if}}
              <p>{{this.content}}</p>
              {{#if this.replies}}
                <hr>
                <div class="repliesContainer">
                  {{#each this.replies}}
                    <p class="mb-0"><strong><i class="fas fa-reply text-muted"></i> {{this.author}}</strong> <small class="commentTimestamp text-muted">{{this.timestamp}}</small></p>
                    <p>{{this.content}}</p>
                  {{/each}}
                </div>
              {{/if}}
            </div>
            <div class="col-lg-3 commentMetadata text-right">
              <button type="button" class="btn btn-outline-primary btn-sm openReplyBox">
                <i class="fas fa-comment"></i> Reply
              </button>
              {{#if ../editingEnabled}}
                <form class="d-inline" action="/deletecomment/{{../eventData.id}}/{{this._id}}/{{../eventData.editToken}}" method="post">
                  <button type="submit" class="btn btn-outline-danger btn-sm deleteComment">
                    <i class="fas fa-trash"></i> Delete
                  </button>
                </form>
              {{/if}}
            </div>
          </div>
          <div class="row replyContainer">
            <div class="col-md">
              <form id="replyForm" action="/post/reply/{{../eventData.id}}/{{this._id}}" method="post">
                <div class="form-group">
                  <input type="text" class="form-control form-control-sm" id="replyAuthor" name="replyAuthor" placeholder="Your name" data-validation="required length" data-validation-length="1-60">
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <textarea class="form-control form-control-sm" id="replyContent" name="replyContent" style="resize: none;" placeholder="What would you like to reply?" data-validation="required length" data-validation-length="1-280"></textarea>
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-primary btn-block h-100 btn-sm" id="postReply">Reply <i class="fas fa-chevron-right"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      {{/each}}
      </div>
    {{/if}}
  </div>
</div>
{{/if}}

<div class="modal fade" id="editTokenModal" tabindex="-1" role="dialog" aria-labelledby="editTokenModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editTokenModalLabel">Enter editing password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="verifyTokenForm" action="/verifytoken/event/{{eventData.id}}" method="post">
      <div class="modal-body">
        <div class="form-group">
          <p class="form-text small">Enter the editing password you received by email or were shown when the event was created.</p>
          <div class="form-group">
            <input type="text" class="form-control" id="editToken" name="editToken" placeholder="Get it right!" data-validation="required">
          </div>
          <div class="form-group">
              <div class="alert alert-danger" style="display:none;"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Edit event</button>
      </div>
      </form>
    </div>
  </div>
</div>

{{#if editingEnabled}}
{{#unless eventHasConcluded}}
{{> editeventmodal }}
{{/unless}}

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete '{{eventData.name}}'</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="deleteEventForm" action="/deleteevent/{{eventData.id}}/{{eventData.editToken}}" method="post">
      <div class="modal-body">
        <p>Are you sure you want to delete this event? This action cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Delete event</button>
      </div>
      </form>
    </div>
  </div>
</div>

{{/if}}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
window.eventData = {{{ json jsonData }}};
</script>

<script>
  {{#if editingEnabled}}

  $('#removeAttendeeModal').on('show.bs.modal', function (event) {
    var listItem = $(event.relatedTarget).closest('li'); // List element enclosing button
    var attendeeName = listItem.data('attendee-name');
    var attendeeID = listItem.data('attendee-id');
    var modal = $(this);
    modal.find('.modal-title').text('Remove ' + attendeeName + ' from {{eventData.name}}')
    modal.find('#removeAttendeeForm').attr('action', '/removeattendee/{{eventData.id}}/' + attendeeID);
  })
  {{/if}}
  $(".commentTimestamp").html(function(){
    parsedDate = moment($(this).html()).fromNow();
    return parsedDate;
  });
  $(".openReplyBox").click(function(){
//    let replyID = $(this).attr("data-id");
    $(this).closest(".comment").find(".replyContainer").slideToggle();
  })
  $(document).ready(function() {
    // Save the editing token from the URL, if it is valid
    const eventID = $('#eventName').attr('data-event-id');
    const url = new URL(window.location.href);
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('e')) {
      $.ajax({
        type: "POST",
        url: `/verifytoken/event/${eventID}`,
        data: { editToken: urlParams.get('e') },
        success: function(response, status, xhr) {
          if (xhr.status === 200) {
            addStoredToken(eventID, urlParams.get('e'));
          }
        },
        error: function(response, status, xhr) {
          // The editing token is wrong - remove it
          removeStoredToken(eventID);
          window.location = window.location.pathname;
        }
      });
    } else if (getStoredToken(eventID)) {
      const editToken = getStoredToken(eventID);
      $.ajax({
        type: "POST",
        url: `/verifytoken/event/${eventID}`,
        data: { editToken },
        success: function(response, status, xhr) {
          if (xhr.status === 200) {
            window.location.search = `?e=${editToken}`;
          }
        },
        error: function(response, status, xhr) {
          // The editing token is wrong - remove it
          removeStoredToken(eventID);
        }
      });
    }

    if (urlParams.has('show_edit')) {
      $('#editModal').modal('show');
      url.searchParams.delete('show_edit'); 
      history.replaceState(history.state, '', url.href);
    }

    // From https://davidwalsh.name/javascript-download
    function downloadFile(data, fileName, type="text/plain") {
      // Create an invisible A element
      const a = document.createElement("a");
      a.style.display = "none";
      document.body.appendChild(a);

      // Set the HREF to a Blob representation of the data to be downloaded
      a.href = window.URL.createObjectURL(
        new Blob([data], { type })
      );

      // Use download attribute to set set desired file name
      a.setAttribute("download", fileName);

      // Trigger the download by simulating click
      a.click();

      // Cleanup
      window.URL.revokeObjectURL(a.href);
      document.body.removeChild(a);
    }

    new ClipboardJS('#copyEventLink');
    $("#exportICS").click(function(){
      let eventID = $(this).attr('data-event-id');
      $.get('/export/event/' + eventID, function(response) {
        downloadFile(response, eventID + '.ics');
      })
    })
    $("#copyEventLink").click(function(){
      $(this).html('<i class="fas fa-copy"></i> Copied!');
      setTimeout(function(){ $("#copyEventLink").html('<i class="fas fa-copy"></i> Copy');}, 5000);
    })
    new ClipboardJS('#copyAPLink');
    $("#copyAPLink").click(function(){
      $(this).html('<i class="fas fa-copy"></i> Copied!');
      setTimeout(function(){ $("#copyAPLink").html('<i class="fas fa-copy"></i> Copy');}, 5000);
    })
    $(".daysToDeletion").html(moment("{{eventEndISO}}").add(7, 'days').fromNow());
    if ($("#joinCheckbox").is(':checked')){
      $("#maxAttendeesCheckboxContainer").css("display","flex");
    }
    $('#attendEvent').on('click', function(event) {
      const modal = $('#attendModal');
      const eventID = $(this).attr('data-event-id');
      axios.post('/attendee/provision', {}, { params: { eventID }})
        .then((response) => {
          modal.find('#removalPassword').val(response.data.removalPassword);
          // If there is a limit on the number of attendees, the provisioned endpoint will return freeSpots;
          // otherwise, freeSpots will be undefined.
          if (response.data.freeSpots !== undefined) {
            modal.find('#attendeeNumber')
              .attr('data-validation-allowing', `range[1;${response.data.freeSpots}]`)
              .attr('data-validation-error-msg', `Please enter a number between 1 and ${response.data.freeSpots}`);
          }
          modal.modal(); 
        })
        .catch((error) => {
          console.error(error);
          return false;
        });
    });

      $('#verifyTokenForm').on('submit', function(e) {
        e.preventDefault();
        let form = $(this);
        $.ajax({
            type: "POST",
            url: form.attr('action'),
            data: form.serialize(),
            success: function(response, status, xhr) {
                if (xhr.status === 200) {
                    // Save the token to localStorage for later
                    addStoredToken($('#eventName').attr('data-event-id'), new FormData(form[0]).get('editToken'));
                    window.location.search = `?e=${new FormData(form[0]).get('editToken')}&show_edit=true`;
                }
            },
            error: function(response, status, xhr) {
               form.find('.alert').text('That editing password is incorrect. Try again.').show();
            }
        });
      });

    $('#deleteEvent').on('click', function() {
        $('#editModal').modal('hide');
    })
  });

  </script>
