<main class="page">
  <h2 class="mb-3 pb-2 text-center border-bottom">{{{t "home.about" }}}</h2>

  {{#if instanceDescription}}
  <div class="instance-description mb-4">
    {{{instanceDescription}}}
  </div>
  {{/if}}

  {{> instanceRules }}

  <h2 class="mb-3 mt-5 pb-2 text-center border-bottom">{{t "home.aboutgathio"}}</h2>

  <p class="lead text-center">{{t "home.intro"}}</p>

  <div id="example-event" class="text-center w-100 mt-4 mb-5">
    <img
      alt="{{t "home.imgexample" }}"
      src="images/example-event-2023.png" class="img-fluid w-75 mx-auto shadow-lg rounded">
  </div>

  <h3>{{t "home.privacytitle" }}</h3>

  <p>{{t "home.privdesc" }} </p>

  <p>{{t "home.privmail" }}</p>

  <p>{{t "home.autodelete" }}</p>

  <p>{{t "home.privacy" }} </p>

  <p>{{t "home.attention" }} </p>

  <h3>{{t "home.conftitle" }}</h3>

  <p>{{{t "home.flagshipsetting" }}}</p>

  <p>{{t "home.onpre" }}</p>

  <h3>{{t "home.fedtitle" }}</h3>

  <p>{{{t "home.selfhost" }}}</p>

  <h3>{{t "home.opensource" }}</h3>

  <p>{{{t "home.osdesc" }}}</p>

  {{#if showKofi}}
  <div class="card border-secondary mt-5 mb-3 mx-auto" style="min-width:300px;max-width:50%;">
    <div class="card-body text-secondary">
      <p>{{{t "home.kofidesc" }}}</p>
      <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
      <script
        type='text/javascript'>kofiwidget2.init('{{t "home.kofi" }}', '#46b798', 'Q5Q2O7T5'); kofiwidget2.draw();</script>
    </div>
  </div>
  {{/if}}
</main>
