<p class="lead">{{{__ "intro"}}}</p>

<hr>

<p>{{{__ "desc"}}}</p>

<div id="example-event" class="text-center w-100 mt-4 mb-5">
  <img src="images/example-event.png" class="img-fluid w-75 mx-auto shadow-lg rounded">
</div>

<p>{{{__ "privacy"}}}</p>

<p>{{{__ "attention"}}}</p>

{{#if showKofi}}
<div class="card border-secondary mt-5 mb-3 mx-auto" style="min-width:300px;max-width:50%;">
  <div class="card-body text-secondary">
    <p>{{{__ "kofi"}}} <i class="far fa-heart"></i></p>
    <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('{{{__ "support"}}}', '#46b798', 'Q5Q2O7T5');kofiwidget2.draw();</script>
  </div>
</div>
{{/if}}
