<h2>{{{__ "login"}}}</h2>
<div class="form-group row">
  <div class="col-sm-12">
    {{#if isPublic}}
      <p class="form-text">{{{__ "accountdesc"}}}</p>
    {{else if isPrivate}}
      <p class="form-text">{{{__ "paccount"}}}</p>
    {{else if isOrganisation}}
      <p class="form-text">{{{__ "oaccount"}}}</p>
    {{/if}}
  </div>
</div>
<div class="form-group row">
  <label for="email" class="col-sm-2 col-form-label">{{{__ "emailaddr"}}}</label>
  <div class="form-group col-sm-10">
    <input type="email" class="form-control" id="email" name="email" placeholder="{{{__ "notspamlogin"}}}" value="{{data.email}}" data-validation="{{#unless isPublic}}required{{/unless}} email" {{#if isPublic}}data-validation-optional="true"{{/if}}>
  </div>
</div>
<div class="form-group row">
  <label for="password" class="col-sm-2 col-form-label">{{{__ "password"}}}</label>
  <div class="form-group col-sm-10">
    <input type="password" class="form-control" id="password" name="password" placeholder="{{{__ "notforget"}}}" {{#unless isPublic}}data-validation="required"{{/unless}}>
  </div>
  <div class="form-group col-sm-10 offset-sm-2">
    <div class="" id="passwordStrengthBar"></div>
  </div>
</div>


<p>
  <a href="/register">{{{__ "register"}}}</a> | <a href="/forgotpassword">{{{__ "forgotpwd"}}}</a>
</p>
