<main class="page" x-data="{currentTab: 'events'}">

<h2 class="mb-3 pb-2 text-center border-bottom">{{siteName}}</h2>

{{#if instanceDescription}}
    <div class="instance-description mb-4">
        {{{instanceDescription}}}
    </div>
{{/if}}

{{> instanceRules }}

<ul class="nav d-flex flex-gap--small">
  <li>
    <a id="eventsTab" class="button button--lg" x-bind:class="currentTab === 'events' ? 'button--primary' : 'button--secondary'" aria-current="page" href="#" x-on:click.prevent="currentTab = 'events'">{{t "views.publiceventlist.events" }}</a>
  </li>
  <li>
    <a id="groupsTab" class="button button--lg" x-bind:class="currentTab === 'groups' ? 'button--primary' : 'button--secondary'" href="#" x-on:click.prevent="currentTab = 'groups'">{{t "views.publiceventlist.groups" }}</a>
  </li>
</ul>

<div x-show="currentTab === 'events'">
    <div class="card mt-4 mb-4" id="upcomingEvents">
        <h5 class="card-header">{{t "views.publiceventlist.upcomingevents" }}</h5>
        {{> eventList upcomingEvents }}
    </div>

    <div class="card mt-4 mb-4" id="pastEvents">
        <h5 class="card-header">{{t "views.publiceventlist.pastevents" }}</h5>
        {{> eventList pastEvents }}
    </div>
</div>

<div x-show="currentTab === 'groups'">
    <div class="card mt-4 mb-4" id="eventGroups">
    <h5 class="card-header">{{t "common.eventgroups" }}</h5>
    <div class="list-group list-group-flush">
    {{#if eventGroups}}
        {{#each eventGroups}}
        <a href="/group/{{this.id}}" class="list-group-item list-group-item-action">
            <i class="fas fa-fw fa-calendar-alt"></i>
            <strong>{{this.name}}</strong>
            <span class="badge badge-secondary ml-2">{{{t "views.publiceventlist.numoevents" }}}</span>
        </a>
        {{/each}}
    {{else}}
        <div class="list-group-item">{{t "views.publiceventlist.nogroups" }}</div>
    {{/if}}
</div>

</main>
