<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{t "mail.eventgroupupdate.preface" }}</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{t "mail.eventgroupupdate.beforelink" }} <a href="https://{{domain}}/{{eventID}}">'{{eventName}}'</a>{{t "mail.eventgroupupdate.afterlink" }}.</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{t "mail.eventgroupupdate.grouplink" }}: <a href="https://{{domain}}/group/{{eventGroupID}}">https://{{domain}}/group/{{eventGroupID}}</a></p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{t "mail.love" }}</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{siteName}}</p>
<hr/>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><strong>{{t "mail.eventgroupupdate.holduphtml" }}</strong></p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{t "mail.eventgroupupdate.dontknow" }} <a href="https://{{domain}}/unsubscribe/{{eventGroupID}}?email={{emailAddress}}">{{t "mail.eventgroupupdate.unsubscribe" }}</a>{{t "period" }}</p>
