<html>
  <body>
    <p>Hi {{hostName}},</p>

    <p>
      {{attendeeEmail}} has <strong>{{attendance}}</strong> your invitation to 
      <a href="{{eventUrl}}">{{eventTitle}}</a>.
    </p>

    <p>
      You can view the event page here: 
      <a href="{{eventUrl}}">{{eventUrl}}</a>
    </p>

    <hr>
    <p>Thanks for using {{siteName}}!</p>
  </body>
</html>
